main {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 100px;
    min-height: 100vh;
}

.list {
    display: flex;
    flex-flow: column-reverse;
    width: 80%;
    background-image: url(../images/paper.jpg);
}

.list > div {
    height: 80px;
    border-bottom: solid 8px black;
    overflow: hidden;
    padding: 20px;
}

hr {
    width: 100%;
}