main {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 100px;
    min-height: 100vh;
}

.list {
    display: flex;
    flex-flow: column-reverse;
    width: 80%;
    
}

.list > div {
    height: auto;
    margin: 8px 0;
    overflow: hidden;
    padding: 20px;
    background-image: url(../images/paper.jpg);
    cursor: pointer;
}

hr {
    width: 100%;
}