
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main > div {
    width: 500px;
    height: 100vh;
    margin: 20px;

}

.center {
    text-align: center;
}
 
.left  {
    height: 25em;
    border: solid 10px white;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    background-color: saddlebrown;
    width: 100%;
    height: 32px;
    color: white;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.input-signup {
    margin-top: 10px;
}

.form-footer {
    text-align: center;
    
}
