
.container {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh + 70px);
    justify-content: center;
    align-items: center;
}

.bg-color {
    background-color: rgb(139, 69, 19, 0.7);
}

.container > div {
    width: 500px;
    height: 400px;
    margin: 20px;
}

.center {
    text-align: center;
}
 
.left  {
    border: solid 10px white;
    border-radius: 30px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    background-color: saddlebrown;
    width: 100%;
    height: 32px;
    color: white;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.input-signup {
    margin-top: 10px;
}

.form-footer {
    text-align: center;
    
}