@import url(https://fonts.googleapis.com/css?family=Catamaran);
@import url(https://fonts.googleapis.com/css?family=Courgette|Handlee|Merienda|Special+Elite);

html, body {
    background-image: url(../images/adult1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height:1;
    margin:0;
    padding:0;
    border:0;
}

*{
    text-decoration: none;
}

header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    padding-top: 30px;
}


h1, h2, h3, h4, h5, h6, p, fieldset, div {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

header .header-brand {
    font-family: 'Special Elite', cursive;
    font-size: 1.6em;
    letter-spacing: 2.5px;
    font-weight: 900;
    color: rgb(139, 69, 19);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    list-style:none;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 15px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    
}

header nav ul a {
    font-family: Catamaran;
    font-size: 16px;
    color: rgb(139, 69, 19);
    padding: 0 30px 0 30px;
}

h1 {
    font-size: 3.2em;
    text-align: center;
    color: white;
    font-weight: 980;
    font-family: 'Courgette', cursive;
    line-height: 70px;
    letter-spacing: 1px;
}

h2 {
    font-size: 25px;
    color: saddlebrown;
    font-family: 'Special Elite', cursive;
    padding-bottom: 10px;
    text-align: center;
}


h3 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 980;
    font-family: 'Courgette', cursive;
    line-height: 70px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5em;
    font-family: cursive;
}
 
h5 {
    font-size: 200px;
    color: saddlebrown;
    text-align: center;
    padding: 20px;
}

p {
    margin: 50px;
    text-align: left;
    font-size: 25px;
}

form {
    padding: 20px;
    width: 290px;
    background-color: white;
}

input {
    width: 95%;
    height: 30px;
    margin: 20px 0;
    border: solid 1px saddlebrown;
    padding-left: 10px;
}

.nav-right {
    float: right;
}

.center {
    text-align: center;
}

.btn-logout {
    padding: 0;
    width: 70px;
    margin-right: 20px;
    margin-top: -50px;
    color: saddlebrown;
    background-color: white;
    border: solid saddlebrown 1px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
