main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 100px;
    min-height: 100vh;
}

.entry {
    width: 80%;
    min-height: 80vh;
    background-image: url(../images/paper.jpg);
}

.div-details {
    color: black;
    font-size: 1.5em;
    padding: 20px;
    text-align: left;
}